main {
	padding: 0 48px;
	box-sizing: content-box;
	margin: 0 auto;
	max-width: 1344px;
}

/* asside styles */

aside {
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	min-width: 288px;
}

.aside-top {
	background: #fdd685;
	border: 1px solid #fdb10f;
	border-radius: 4px;
	padding: 16px;
}

.aside-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

.aside-label {
	margin-bottom: 8px;
}

.text-input {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.54);
	outline: none;
	box-sizing: border-box;
	font-size: 13px;
	max-width: 100%;
	padding: 12px;
	height: 44px;
	width: 100%;
}

.toggle-button-checkbox {
	position: absolute;
	left: -9999px;
}

.toggle-button-button {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.toggle-button-button::after,
.toggle-button-button::before {
	content: "";
	transition: all 0.3s ease;
}

.toggle-button-button::before {
	display: inline-block;
	width: 52px;
	height: 32px;
	background-color: #900;
	border-radius: 26px;
}

.toggle-button-button::after {
	position: absolute;
	top: 3px;
	left: 2px;
	width: 26px;
	height: 26px;
	background-color: #fff;
	border-radius: 26px;
}

#toggle-button:checked + .toggle-button-button::before {
	background-color: #55d069;
}

#toggle-button:checked + .toggle-button-button::after {
	left: 50px;
}

/* results section styles */

main {
	display: flex;
	flex-direction: row;
}

.results-area {
	flex: 1;
	margin-left: 24px;
}

.results-nav {
	display: flex;
	flex-direction: row;
	margin-bottom: 32px;
}

.result-tab {
	background: transparent;
	border-radius: 0;
	color: #1190cd;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	height: 44px;
	padding: 0 24px;
	text-transform: uppercase;
	border: none;
}

.result-tab:hover {
	background-color: rgba(17, 144, 205, 0.12);
}

.result-tab-selected {
	border-bottom: 3px solid #1190cd;
}

.results-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.results-title h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.results-title span {
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 6px;
}

.results-title .title-city {
	text-transform: capitalize;
}

.results-title .title-state {
	text-transform: uppercase;
}
