main {
	padding: 0 3rem;
	box-sizing: content-box;
	margin: 0 auto;
	max-width: 1344px;
}

/* asside styles */

aside {
	font-weight: 600;
	font-size: 13px;
	line-height: 21px;
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	width: 288px;
}

.aside-top {
	background: #fdd685;
	border: 1px solid #fdb10f;
	border-radius: 4px;
	padding: 16px;
}

.aside-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 16px;
}

.aside-section .rooms-buttons {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	width: 100%;
}

.room-button {
	border-radius: 32px;
	display: inline-block;
	font-size: 13px;
	height: 32px;
	line-height: 31px;
	padding: 0 12px;
	position: relative;
	margin-top: 8px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	background: #fff;
	color: rgba(0, 0, 0, 0.54);
	max-width: 44px;
}

.room-button:hover {
	background-color: #ebebeb;
}

.room-button-active {
	background: #1190cd;
	border-color: #1190cd;
	color: #fff;
}

.container-button button:hover {
	background-color: var(--color-gray-button);
}

.aside-double-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 16px;
}

.aside-double-section:first-child {
	padding-right: 16px;
}

.aside-label {
	margin-bottom: 8px;
}

.text-input {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	color: rgba(0, 0, 0, 0.54);
	outline: none;
	box-sizing: border-box;
	font-size: 13px;
	max-width: 100%;
	padding: 12px;
	height: 44px;
	width: 100%;
}

.aside-bottom {
	border-radius: 3px;
	background-color: white;
	padding: 16px;
	margin-bottom: 20px;
	max-width: 256px;
}

.double-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

select {
	display: block;
	font-size: 12px;
	border-radius: 5px;
	border: 1px solid lightgray;
	background-color: white;
	color: rgba(0, 0, 0, 0.54);
	width: 254px;
	height: 44px;
	padding: 10px;
}
.toggle-button-div {
	display: flex;
	align-items: center;
}

.toggle-button-div span {
	display: inline-block;
	margin-bottom: 8px;
	margin-left: 10px;
}

.toggle-checkbox {
	position: absolute;
	left: -99999px;
}

.toggle-button {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.toggle-button::before,
.toggle-button::after {
	content: "";
}

.toggle-button::before {
	display: inline-block;
	width: 3.25rem;
	height: 2rem;
	background-color: #ee6500;
	border-radius: 2rem;
}

.toggle-button::after {
	background-color: white;
	position: absolute;
	top: 0.05rem;
	left: 0.05rem;
	width: 1.9rem;
	height: 1.9rem;
	border-radius: 100%;
}

.toggle-checkbox:checked + .toggle-button::before {
	background-color: var(--color-blue-header);
}

.toggle-checkbox:checked + .toggle-button::after {
	left: 1.25rem;
}

/* results section styles */

main {
	display: flex;
	flex-direction: row;
}

.results-area {
	flex: 1;
	margin-left: 24px;
}

.results-nav {
	display: flex;
	flex-direction: row;
	margin-bottom: 32px;
}

.result-tab {
	background: transparent;
	border-radius: 0;
	color: #1190cd;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	height: 44px;
	padding: 0 24px;
	text-transform: uppercase;
	border: none;
}

.result-tab:hover {
	background-color: rgba(17, 144, 205, 0.12);
}

.result-tab-selected {
	border-bottom: 3px solid #1190cd;
}

.results-title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.results-title h1 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}

.results-title span {
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	margin-left: 6px;
}

.results-title .title-city {
	text-transform: capitalize;
}

.results-title .title-state {
	text-transform: uppercase;
}

.result-tags {
	margin-top: 12px;
	margin-bottom: 24px;
}

.result-tags span {
	font-size: 13px;
	line-height: 31px;
	color: #1190cd;
	margin: 2px;
	border-radius: 32px;
	border: 1px solid #1190cd;
	display: inline-block;
	font-size: 13px;
	height: 32px;
	padding: 0 12px 0 12px;
	text-transform: capitalize;
}

.result-tags span:hover {
	background-color: #d0e8f3;
}

.result-card {
	margin-bottom: 16px;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ebebeb;
	transition: box-shadow 0.3s ease-in-out;
	will-change: box-shadow;
	font-size: 13px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto 1fr;
}

.result-card:hover {
	cursor: pointer;
	box-shadow: 0px 4px 15px 2px #ebebeb;
	transition: 0.5s;
}

.propertyImg {
	width: 360px;
	height: 240px;
}

.result-card-info-div {
	display: flex;
	flex-direction: column;
}

.result-card-info-div-top {
	padding: 16px;
}

.result-card-info-div-top span {
	font-weight: 400;
	size: 13px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.54);
}

.result-card-info-div-top h2 {
	font-weight: 400;
	size: 20px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
}

.result-card-info-div-top ul {
	font-weight: 400;
	size: 20px;
	line-height: 28px;
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
}

.characteristics-list {
	margin: 12px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.characteristics-list p {
	color: rgba(0, 0, 0, 0.87);
	margin: 0;
	margin-right: 8px;
	font-size: 13px;
	line-height: 21px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.amenities-list {
	flex-wrap: wrap;
}

.amenities-list span {
	color: #a8a8a8;
	margin-right: 8px;
	font-size: 13px;
	line-height: 21px;
	font-weight: 600;
	padding: 0 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 180px;
	border-radius: 12px;
	background-color: #ebebeb;
}

.result-card-info-div-bottom {
	display: flex;
	flex-direction: column;
	padding: 16px;
	color: rgba(0, 0, 0, 0.87);
}

.result-card-info-div-bottom p {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	margin: 0;
}

.result-card-info-div-bottom span {
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
}

.result-card-info-div-bottom span strong {
	font-size: 13px;
	line-height: 20px;
	font-weight: 700;
}
